[submodule "basket"]
	path = basket
	url = https://github.com/tvarano/basket.git
[submodule "basket-scraper"]
	path = basket-scraper
	url = https://github.com/tvarano/basket-scraper.git
[submodule "basket-frontend"]
	path = basket-frontend
	url = https://github.com/tvarano/basket-frontend.git
